@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lato:wght@900&family=Roboto:wght@700&display=swap');

html{
    box-sizing: border-box;
}

body{
    background-image: url('desk_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: inherit;
    margin: 0px;
}

nav{

    font-family: 'Roboto';
}

.ButtonUnboxed{
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline;
}

.invertHover:hover{
    border-radius: 8%;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

article{
    
    position: absolute;
    bottom: 30px;
    font-family: 'Roboto';
}

.brandIcons{
    width:150px;
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

div{
    display: inline-block;
}
