@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lato:wght@900&family=Roboto:wght@700&display=swap');

body{
    background-image: url('desk_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    font-family: 'Roboto';
}

main{
    display: flex;
}

.ButtonUnboxed{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.invertHover:hover{
    border-radius: 8%;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

.brandIcons{
    width:150px;
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}


div, img{
    border: 3px red solid;
}